<div class="card border-0 w280">
  <div class="card-body pb-0">
      <div class="d-flex py-1">
          <img class="avatar rounded-circle" src="/static/assets/images/profile_av.png" alt="profile">
          <div class="flex-fill ms-3">
              <p class="mb-0"><span class="font-weight-bold">Dylan Hunter</span></p>
              <small class="">Dylan.hunter@gmail.com</small>
          </div>
      </div>
      
      <div><hr class="dropdown-divider border-dark"></div>
  </div>
  <div class="list-group m-2 ">
      <a href="task.html" class="list-group-item list-group-item-action border-0 "><i class="icofont-tasks fs-5 me-3"></i>My Task</a>
      <a href="members.html" class="list-group-item list-group-item-action border-0 "><i class="icofont-ui-user-group fs-6 me-3"></i>members</a>
      <a href="{% url "logout" %}" class="list-group-item list-group-item-action border-0 "><i class="icofont-logout fs-6 me-3"></i>Signout</a>
      <div><hr class="dropdown-divider border-dark"></div>
      <a href="ui-elements/auth-signup.html" class="list-group-item list-group-item-action border-0 "><i class="icofont-contact-add fs-5 me-3"></i>Add personal account</a>
  </div>
</div>